.intro {
  text-align: center;
  padding: 15% 0;
  background-image: url("http://dl9fvu4r30qs1.cloudfront.net/12/763da01d3411e2938622000a1d0930/file/5-things-about-reservoir-dogs-facts-trivia-20th-anniversary.jpg");
  background-color: #2F2F2F;
  background-blend-mode: multiply;
  color: #fff;
  background-size:cover;
  background-repeat:no-repeat;
  font-size:36px;
}

#movies{
  background:white;
}
article {
  width: 100%;
  background-color:white;
  display:inline-block;
  vertical-align: top;
  border-bottom: 1px solid #efefef;
  margin-bottom: 1%;
  padding: 10px;
  position:relative;
  &:last-child {
    border-bottom:3px solid darkgray;
    margin-bottom:0;
  }
}

.review-img{
  width:15%;
  display:inline-block;
  overflow:hidden;
  img{
    width:100%;
  }
}
.review-desc{
  width:50%;
  display:inline-block;
  vertical-align:top;
  margin-left:30px;
  h3{
    font-size:24px;
  }
  p {
    color: #A0A0A0;
  }
}
.review-options {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  button {
    -webkit-appearance: none;
    background: none;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #efefef;
    transition:.2s all;
  }
  .delete{
    color:red;
    &:hover{
      color:white;
      background:red;
      border:1px solid red;
    }
  }
  .edit{
    color:#A5A4A4;
    &:hover{
      color:white;
      background:orange;
      border:1px solid orange;
    }
  }
}
