form#edit-review {
    margin: 5%;
    font-size:16px;
}
form#edit-review input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size:16px;
}
button.save-edit {
 -webkit-appearance:none;
 background: #CBEFCB;
 border:none;
 font-size:16px;
 color:green;
 padding: 10px 20px;
 margin: 5px 0;
 cursor: pointer;
}
#to-review {
    margin: 10px 0;
    text-align:center;
    cursor:pointer;
}
#to-review button {
  -webkit-appearance: none;
  border: none;
  background: none;
  padding:20px;
  width:100%;
  font-size:16px;
  cursor:pointer;
  color:#00A1FF;
  transition:.1s all;
  &:focus{
    outline:none;
  }
  &:hover{
    background:#00A1FF;
    color:white;
  }
}
#new-review .cancel {
    -webkit-appearance: none;
    border: none;
    background: none;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    color: #737373;
    font-size: 14px;
    transition:.2s all;
    cursor:pointer;
    &:focus{
      outline:none;
    }
    &:hover{
      color:red;
    }
}
#new-review {
  background: #E0E0E0;
  margin: 10px 0;
  padding: 5% 3%;
  position:relative;
  h1 {
  text-align: center;
  margin-bottom: 3%;
  }
}
#add-review-new input {
  width:49.6%;
  padding: 10px;
  margin: 2px 0;
  border: none;
  color: #00A1FF;
  transition:.2s all;
  font-size:16px;
  &:focus{
    outline:none;
    border-left: 2px solid #00A1FF;
  }
}
button.submit-review {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  -webkit-appearance: none;
  border: none;
  background: #00A1FF;
  margin-top: 10px;
  color: white;
  font-size: 16px;
  cursor:pointer;
  transition:.2s all;
  &:hover{
      background:#0085D2;
  }
}
